:root {
  font-family: "Source Sans 3", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
}

a {
  color: inherit;
}

button,
input,
select,
textarea {
  font: inherit;
}

#root {
  min-height: 100vh;
}
